# Dependencies
node_modules/

# Build files
dist/
build/

# Log files
*.log

# Operating system files
.DS_Store

# Debug directories
debug/

# Environment configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor configuration files
.vscode/
.idea/
*.sublime-workspace

# Coverage output files
coverage/

# Temporary directories
tmp/
temp/
